<div class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-mat="space-around center"
  fxLayoutGap="10px" 
  fxLayoutGap.xs="0">

  <div fxFlex=40 *ngIf="dish">
      <mat-card>
        <mat-card-title>
            {{dish.name | uppercase}}
          </mat-card-title>
          <img mat-card-lg-image src={{dish.image}} alt={{dish.name}}>

          <mat-card-content>
            <br>
            {{dish.description}}
          </mat-card-content>
        
          <!-->Buttons<-->
          <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail', prev]">
              <span class="fa fa-chevron-left fa-lg"></span>
            </button>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <button mat-button [routerLink]="['/dishdetail', next]">
              <span class="fa fa-chevron-right fa-lg"></span>
            </button>
          </mat-card-actions>
        </mat-card>
  </div>

  <div [hidden]="dish">
    <mat-spinner></mat-spinner> <h4>Loading . . . Please wait</h4>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <h2>Comments</h2>
    <mat-list>
      <mat-list-item *ngFor="let comment of dish.comments">
        <p matLine>{{comment.comment}}</p>
        <p matLine>{{comment.rating}} Stars</p>
        <p matLine>-- {{comment.author}} {{comment.date | date}}</p>
        <br>
      </mat-list-item>
    </mat-list>

    <mat-list *ngIf="feedbackForm.valid">
      <mat-list-item>
        <p matLine>{{ feedbackForm.get('comment').value }}</p>
        <p matLine>{{ feedbackForm.get('rating').value }} Stars</p>
        <p matLine>-- {{ feedbackForm.get('username').value }}</p>
      </mat-list-item>
    </mat-list>

    <div class="column">
      <form [formGroup]="feedbackForm" class="form">
        <mat-form-field class="full-width">
          <input matInput class="form-control" formControlName="username" placeholder="Name">
          <mat-error *ngIf="feedbackForm.get('username').hasError('required')">Name is <strong>required</strong></mat-error>
          <mat-error *ngIf="feedbackForm.get('username').hasError('minlength')">Name must be at least 2 characters long</mat-error>
        </mat-form-field>
        

        <mat-slider class="slider" thumbLabel tickInterval="1" max="5" formControlName="rating"></mat-slider>

        <mat-form-field class="full-width comment">
          <textarea matInput class="form-control" formControlName="comment" placeholder="Your comment" style="height: 200px"></textarea>
          <mat-error *ngIf="feedbackForm.get('comment').hasError('required')">Comment is <strong>required</strong></mat-error>
        </mat-form-field>

        <button mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid" (click)="submitComment()">Submit</button>
      </form>
    </div>
    
  </div>
</div>
 



